@import url('tema.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    background-color: var(--fundo-principal);
    color: var(--texto);
    transition: background-color 0.5s, color 0.5s;
}

header {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  background-color: var(--destaque);
  color: var(--texto);
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav#menu ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

nav#menu a {
    text-decoration: none;
    color: var(--texto-inverso);
    font-weight: 600;
    padding: 12px 15px;
    border-radius: 5px;
    transition: background-color 0.5s, color 0.5s;
}

nav#menu a:hover {
    background-color: var(--destaque-inverso);
    color: var(--destaque);
}