:root {
    --fundo-principal: #f5f5f5;
    --texto: #222222;
    --texto-inverso: #ffffff;
    --destaque: #0077ff;
    --destaque-inverso: #66bbff;
    --fundo-card: #ffffff;
}

body.escuro {
    --fundo-principal: #121212;
    --texto: #e0e0e0;
    --texto-inverso: #121212;
    --destaque: #1e90ff;
    --destaque-inverso: #559eff;
    --fundo-card: #1e1e1e;
}
